
.question {
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    text-wrap: balanced;
    color: #336C32;
}

.answer {
    background: #DAEBDA;

    padding-block: 24px;
    padding-inline: 8px;

    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #336C32;

    transition: background-color 0.3s ease;
}

.selected {
    background: #FFD29E;
}